.gantt-labels-row{
	height: auto !important;
}

.list-name-text{
	font-weight: bold;
}

.gantt{
	overflow:auto !important
}

.list-row{
	background-color: #cccccc
}

.gantt-column-today{
	background-color: #428bca;
}

.gantt-task-info{
	small{
		display: block
	}
}

.gantt-background-row{
    background-color: white
}