.gantt-labels-row{
	height: auto !important;
}

.list-name-text{
	font-weight: bold;
}

.gantt{
	overflow:auto !important
}

.list-row{
	background-color: #cccccc
}

.gantt-column-today{
	background-color: #e74c3c
}

.gantt-task-info{
	.last-activity-date{
		display: block
	}
}