$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/*Custom gantt*/
@import 'custom-gantt';

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }

    /* Remove the padding we set earlier */
    header,
    footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* Space out the masthead */
    header {
        margin-bottom: 30px;
        h3 {
            a {
                text-decoration: none !important;
            }
        }
    }
    footer {
        text-align: center;
        margin-top: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
        figure {
            figcaption {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
    .how-it-works {
        text-align: center;
        overflow:hidden;
        margin: 0 auto;
        width:1024px;
        margin-bottom: 80px;
        h1 {
            margin-bottom: 40px;
        }
        .detail {
            width: 260px;
            float: left;
            margin-right: 122px;
            img {
                width: 240px;
                height: 240px;
                border-radius: 120px;
                -webkit-border-radius: 120px;
                -moz-border-radius: 120px;
                border: solid 4px #176797;
                margin-bottom: 30px;
            }
            figcaption {
                font-size: 18px;
                color: #999999;
            }
        }
        .detail:nth-child(4){
            margin-right: 0px;
        }
    }
    .see-in-action {
        text-align: center;
        overflow:hidden;
        margin: 0 auto;
        h1 {
            margin-bottom: 40px;
        }
    }
    .section-title {
        color: #428bca;
    }
    blockquote {
        background-color: #ccc;
        h1 {
            color: #428bca;
            font-size: 24px;
            font-style: italic;
        }
    }
}
