<h1 class="section-title">About</h1>

<blockquote>
<h1>We like to let things clear.</h1>
The <a href="http://www.trello.com" target="_blank">Trello</a> is a registered trademark of <a href="https://www.fogcreek.com/‎" target="_blank">Fog Creek Software, Inc.</a>, all rights Trello tool are owned by <a href="https://www.fogcreek.com/‎" target="_blank">Fog Creek Software, Inc.</a></blockquote>

<p>Trello GANTT is an initiative created by <a href="http://www.wing.inf.br" target="_blank">WING - Taking Your Further Projects</a>. </p>

<p>The TG (as we called Trello GANTT) was created to supply a very specific need for managing projects at <a href="http://www.wing.inf.br" target="_blank">WING</a>. But as the tool was quite functional, its creators <a href="" target="_blank">Guilherme Schwade</a> and <a href="" target="_blank">Rodrigo Donini</a> decided to publish it to other people and companies would benefit from this awseome way to view lists and tasks of Trello.</p>

<p>Trello GANTT is a open source project, and if you would like to contribute it, fork in <a href="https://github.com/guilhermevrs/TrelloGantt/" target="_blank">Github</a></p>