<table class="table table-striped table-hover">
	<thead>
		<th>Boards</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<tr class="separator-row" ng-repeat-start="org in organizations">
			<td colspan="2">
				<img ng-show="org.logoHash" src="https://trello-logos.s3.amazonaws.com/{{org.logoHash}}/30.png" />
				<span ng-hide="org.logoHash" class="glyphicon glyphicon-user"></span>
				<span>{{org.displayName}}<span>
				</td>
			</tr>
			<tr ng-repeat="b in boards | filter: {idOrganization:org.id}">
				<td>{{b.name}}</td>
				<td>
					<a ng-click="seeBoardChart(b.id)" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-align-left"></span> Chart
					</a>
				</td>
			</tr>
			<tr ng-repeat-end></tr>
		</tbody>
	</table>
