<div gantt
     data=data
     auto-expand="both"
     from-date="gantt.fromDate"
     to-date="gantt.toDate"
     headers="gantt.headers"
     current-date="column"
     api="registerApi"
>
  <gantt-tree></gantt-tree>
  <gantt-tooltips></gantt-tooltips>
  <gantt-groups></gantt-groups>
  <gantt-movable   enabled="true"
                   allow-moving="true"
                   allow-resizing="true"
                   allow-row-switching="false">
    <gantt-movable/>
</div>

<section id="board-info" class="row">
	<header>
		<h1>Board info: {{board.name}}</h1>
	</header>
	<ul class="labels">
		<li>
			<label>Red</label> {{board.labelNames.red}}
		</li>
		<li>
			<label>Orange</label> {{board.labelNames.orange}}
		</li>
		<li>
			<label>Yellow</label> {{board.labelNames.yellow}}
		</li>
		<li>
			<label>Green</label> {{board.labelNames.green}}
		</li>
		<li>
			<label>Blue</label> {{board.labelNames.blue}}
		</li>
		<li>
			<label>Purple</label> {{board.labelNames.purple}}
		</li>
	</ul>
</section>
