<!--
load-data="loadData = fn"
clear-data="clearData = fn"
center-date="scrollToDate = fn"

auto-expand="false"
allow-row-sorting="false"
allow-task-moving="false"
column-width="gantt.scale === 'month' && 20 || (gantt.scale === 'week' && 10 || 4)"
column-sub-scale="gantt.scale === 'week' && 7 || 4"
show-weekend="false"
from-date="gantt.fromDate"
to-date="gantt.toDate"
template-url="template/gantt.tmpl.html"

on-gantt-ready="addSamples()"
on-row-clicked="rowEvent(event)"
on-task-updated="taskEvent(event)"
on-tooltip-link-click="loadCardDetail(card)"
-->
<div gantt
     data=data
     from-date="gantt.fromDate"
     to-date="gantt.toDate"
     headers="gantt.headers"
     current-date="gantt.currentDate"
>
  <gantt-tree></gantt-tree>
</div>

<section id="board-info" class="row">
	<header>
		<h1>Board info: {{board.name}}</h1>
	</header>
	<ul class="labels">
		<li>
			<label>Red</label> {{board.labelNames.red}}
		</li>
		<li>
			<label>Orange</label> {{board.labelNames.orange}}
		</li>
		<li>
			<label>Yellow</label> {{board.labelNames.yellow}}
		</li>
		<li>
			<label>Green</label> {{board.labelNames.green}}
		</li>
		<li>
			<label>Blue</label> {{board.labelNames.blue}}
		</li>
		<li>
			<label>Purple</label> {{board.labelNames.purple}}
		</li>
	</ul>
</section>
