<div class="jumbotron">
		<figure>
			<img src="images/trelloganttlogo.png" alt="Trello GANTT - Project management made easy (and FREE)!">
			<figcaption>Project management made easy (and FREE)!</figcaption>
		</figure>
	<p>
		<a class="btn btn-lg btn-success" ng-click="logme()">Start using</a>
	</p>
</div>

<div class="how-it-works">
	<h1 class="text-muted">BUT WHAT IS TRELLO GANTT?</h1>

	<figure class="detail">
		<img src="images/howitworks_trello.png" alt="" />
		<figcaption>Isn't great manage yout tasks with <a href="http://www.trello.com" target="_blank">Trello</a>? Now use it together with a awseome view.</figcaption>
	</figure>

	<figure class="detail">
		<img src="images/howitworks_gantt.png" alt="" />
		<figcaption>Visuzalize and keep your lists through a new format provided by Trello GANTT.</figcaption>
	</figure>

	<figure class="detail">
		<img src="images/howitworks_filter.png" alt="" />
		<figcaption>Apply filters on their lists and export your tasks in a gantt chart format.</figcaption>
	</figure>
</div>

<div class="see-in-action">
	<h1 class="text-muted">SEE TRELLO IN ACTION</h1>
	<iframe src="//player.vimeo.com/video/29183832" width="1024" height="575" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
